.green{
	background-color: #4CAF50;
}

.orange{
	background-color: #FA6F3E;
}

.red{
	background-color: #F44336;
}

.purple{
	background-color: #D500F9;
}

.pink{
	background-color: #F50057;
}

.dark{
	background-color: #212121;
}

.bluegrey{
	background-color: #263238;
}