/*  input */
.md-input {
	position: relative;
	overflow: hidden;
	height: 60px;
	padding: 0 15px;
	cursor: text;
	font: 1.2em;
}

.md-input input {
	display: block;
	position: absolute;
	bottom: 0.5em;
	width: 100%;
	border: 0;
	outline: 0;
	font: inherit;
}

.md-input::before {
	content: "";
	position: absolute;
	left: 2%;
	bottom: 2px;
	height: 100%;
	width: 96%;
	border-bottom: 2px solid #ddd;
}

.md-input > label {
	position: absolute;
	transition: all .3s ease;
}

.md-input input:invalid ~ label {
	top: 1em;
	font-size: 1.6em;
	color: #ddd;
}

.md-input > label,
.md-input input:valid ~ label,
.md-input input:focus ~ label {
	top: .5em;
	font-size: 1em;
	color: #32C455;
}

.md-input span {
	content: "";
	position: absolute;
	bottom: 2px;
	height: 100%;
	width: 0;
	left: 50%;
	opacity: 0;
	border-bottom: 2px solid #32C455;
	transition: .3s all ease;
}
.md-input input:focus ~ span {
	left: 2%;
	width: 96%;
	opacity: 1;
}