.md-progressbar{
	/*width: 400px;*/
	height: 6px;
	border-radius: 3px;
	color: #fff;
	background: #2196F3;
	position: relative;
	overflow: hidden
}

.md-progressbar .determinate{
	position: absolute;
	top: 0;
	left: 0; 
	height: 100%;
	background-color: rgba(0, 0, 0, .0);
}


.md-progressbar .determinate::before{
	content:"";
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	width: 50000px;
	background-color: rgba(255, 255, 255, .6);
}

.md-progressbar .indeterminate{
	position: absolute;
	top: 0;
	left: 0; 
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .0);
}
.md-progressbar .indeterminate::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	height: 100%;
	background-color: rgba(255, 255, 255, .6);
	-webkit-animation: md-indeterminate-loop 2s ease-in-out infinite;
	-o-animation: md-indeterminate-loop 2s ease-in-out infinite;
	-moz-animation: md-indeterminate-loop 2s ease-in-out infinite;
	animation: md-indeterminate-loop 2s ease-in-out infinite;
}

@-webkit-keyframes md-indeterminate-loop{
	0%{
		width: 0%;
		left: 0%;
	}
	50%{
		width: 100%;
		left: 0%;
	}
	100%{
		left: 100%;
		width: 0%;
	}
}

@-moz-keyframes md-indeterminate-loop{
	0%{
		width: 0%;
		left: 0%;
	}
	50%{
		width: 100%;
		left: 0%;
	}
	100%{
		left: 100%;
		width: 0%;
	}
}

@-o-keyframes md-indeterminate-loop{
	0%{
		width: 0%;
		left: 0%;
	}
	50%{
		width: 100%;
		left: 0%;
	}
	100%{
		left: 100%;
		width: 0%;
	}
}

@keyframes md-indeterminate-loop{
	0%{
		width: 0%;
		left: 0%;
	}
	50%{
		width: 100%;
		left: 0%;
	}
	100%{
		left: 100%;
		width: 0%;
	}
}